@charset "utf-8";
/* CSS Document */


@font-face
{
font-family: nino;
src:url(../fonts/bpg_nino_mtavruli_normal.ttf),
  url(../fonts/bpg_nino_mtavruli_normal.ttf); /* IE9 */
}

@font-face
{
font-family: ariali;
src:url(../fonts/bpg_arial.ttf),
  url(../fonts/bpg_arial.ttf); /* IE9 */
}





























